body {
  background-color: darkkhaki;
}

.header {
  background-color: #50bc7b;
  padding: 2px;
  color: mediumvioletred;
  text-align: center;
  width: 600px;
  border-radius: 50px;
  border: solid 1px gray;
  margin-left: 110px;
  font-size: larger;

}

.addBtn {
  padding: 10px;
  width: 50%;
  background: mediumvioletred;
  color: white;
  float: left;
  text-align: center;
  font-size: 20px;
  border-radius: 50px;
  margin-left: 150px;
  border: solid 1px gray;
}


ul {
  justify-items: right;
  padding: 80px;
  width: 900px;
  margin-left: 20px;
}

ul li {
  padding: 10px 8px 12px 25px;
  background: navajowhite;
  font-size: 16px;
  transition: 0.1s;
  border-radius: 50px;
  border: solid 1px gray;
  list-style-position: inside;
  list-style: disc; color: rgb(34, 17, 17); font-style: italic; font-size: 20px; font-family: Georgia, 'Times New Roman', Times, serif; 
 list-style-type: disc;
}



ul li:hover {
  background: silver;
}

.checked {
  text-decoration: line-through;
  color: black
} 

input {
  margin: 0;
  border: solid 1px gray;
  border-radius: 20px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  font-style: italic;
  background-color: navajowhite;
  margin-left: 0px;
  color: green;
  text-align: center;
  width: 500px;
  height: 20px;
}


h1 {
  margin-left: 200px;
  color: mediumvioletred;
}

.marked {background-color: olivedrab;}


.myButton {
  background-color: #50bc7b; margin-left: 100px; 
padding: 5px; border-radius: 20px; color: mediumvioletred; font-size: 21px;}




